body {
    background-color: #212121;
}

.title {
    font-family: "Roboto";
    font-weight: "Heavy";
    text-align: center;
    font-size: 5rem;
    padding-top: 2rem;
    background: -webkit-linear-gradient(#ffffff, #6effac);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

.search-wrapper {
    display: flex;
    justify-content: center;
}

.search {
    border: 0.5px solid #6effac;
    border-radius: 5px;
    height: 30px;
    width: 50%;
    background-color: #373737;
    color: #ffffff;
}

.dropdown {
    position: relative;
    display: inline-block;
	width: 50%;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #4d4d4d;
    min-width: 940px;
    overflow: auto;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    margin-top: 35px;
}

.dropdown-content a {
    color: #ffffff;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    border: 0.5px solid #373737;
}

.dropdown a:hover {background-color: #373737}

.show {display:block;}
ul {
    padding: 0;
    list-style-type: none;
}   

.label {
    text-align: center;
    color: #e8e8e8;
    font-family: "Roboto";
}

.smaller {
    font-size: 1.5rem;
}

.description {
    text-align: center;
    color: #a6a6a6;
    font-size: 1.25rem;
}

.important-link {
    background: -webkit-linear-gradient(#ffffff, #6effac);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    text-decoration: none;
    cursor: pointer;
}