---
---

@import "{{ site.theme }}";

a {
    background: -webkit-linear-gradient(#ffffff, #6effac);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    text-decoration: none;
    cursor: pointer;
}

#header {
    z-index: 100;
    left:0;
    top: 0px;
    height: 60px;
    width: 100%;
    position: fixed;
    background: url(../images/nav-bg.gif) #353535;
    border-bottom: 4px solid #434343;
    box-shadow: 0px 1px 3px rgba(0,0,0,.25);
  
    nav {
      max-width: 100%;
      margin: 0 auto;
      padding: 0 10px;
      background: none;
      margin: 6px auto;
  
      ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
  
        li {
          font-family: 'OpenSansLight', "Helvetica Neue", Helvetica, Arial, sans-serif;
          font-weight: normal;
          list-style: none;
          display: inline;
          color: #212121;
          line-height: 50px;
          text-shadow: none;
          font-size: 14px;
  
          a {
            color: #212121 !important;
            border: 1px solid #353535;
            background: none;
            border-radius: 5px;
            box-shadow: none;
  
            background-color: rgba(110, 255, 172, 0.6);;
            padding: 10px 12px;
            margin-top: 6px;
            line-height:14px;
            font-size:14px;
            display:inline-block;
            text-align:center;
  
            &:hover {
              background: none;
              background-color: rgba(110, 255, 172, 0.9);
              border: 1px solid rgba(110, 255, 172, 0.9);;
              box-shadow: none;
            }
          }
  
          &.fork {
            float: left;
            margin-left: 0px;
          }
  
          &.downloads {
            float: right;
            margin-left: 6px;
          }
  
          &.title {
            float: right;
            margin-right: 10px;
            font-size: 11px;
          }
        }
      }
    }
  }
